body {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body, button, .btn, #root, form{
    font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
li:hover {
  background-color: whitesmoke;
}
label {
  font-size: 15px;
}
input, textarea, select {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.row {
  width: 100%;
}
.display-flex{
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.margin-top {
  margin-top:15px;
}

.fa- {
  padding: 20px;
  width: 15px

}

.col-9{
  width:60%;
}
.col-10{
  width:80%;
}
.col-2 {
  width: 20%;
}
.col-6{
  width:50%;
}
.col-3{
  width:33%
}

.background-color-aliceblue {
  background-color: aliceblue;
}



.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.border {
  border: 2px solid black;
}
.center {
    margin: auto;
    width: 80%;
    display: block;
}
.padding {
  padding: 10px;
}
.margin{
  margin:10px;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.sort-by {
  width: 100%;
  text-align: right;
}
.sort-by-center {
  margin: auto;
  margin-bottom: 1px;
  width: 80%;
  padding: 10px;
  display: flex;
  font-size: 13px;
}
.select-sort {
  margin:5px;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.icon-btn {
  background: none;
  border: none;
}
.title-cat {
  margin: 15px;
  float: right;
}

.btn{
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  float:right;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 4px;
  margin: 15px;
  width:100px;
  height: 20px;
  border-radius:5px;
}
.btn-form{
  height: 30px;
  font-size: 13px;
  border: 1px solid;
  box-shadow: none;
}
.border-bottom{
  border-bottom: 1px solid lightgrey;
}
.btn:hover, .btn-form:hover{
  font-size: 15px;
  font-weight: bold;
}
.border-right{
  border-right: 1px solid black;
}
.btn-add {
  position: fixed;
  right: 20px;
  width: 130px;
  bottom: 5px;
  height: 30px;
}

.open-add a {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: dodgerblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

@media (max-width: 965px) {
  .post-icons {
    display: flex;
    text-align: center;
  }
  .action-button {
    width:40px;
    height: 30px;
  }
 }
 @media (max-width: 700px) {
   .post-icons {
     display: grid;
     text-align: center;
   }
   .fa-plus, .fa-minus {
     display: block;
   }
   .center {
     font-size:11px;
   }
   .action-button {
     width:30px;
     height: 25px;
   }
  }
